@font-face {
  font-family: "Gilroylight";
  src: local("Gilroylight"), url("../fonts/gilroylight.woff2"),
    url("../fonts/gilroylight.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroyextrabold";
  src: local("Gilroyextrabold"), url("../fonts/gilroyextrabold.woff2"),
    url("../fonts/gilroyextrabold.woff");
  font-weight: 800;
  font-style: normal;
}

/* Variables */

:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #ffffff;

  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special--green: #91c92f;

  --status-pink-light: #f6dada;
}

/* Global */

body {
  min-width: 1460px;
  margin: 0;
  padding: 40px;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* Main navigation */

.main-header {
  width: 1160px;
  background-color: var(--special-yellow);
  margin: 0 auto;
}

.main-header a:hover,
.main-header a:focus {
  opacity: 0.6;
}

.main-header a:active {
  opacity: 0.3;
}

.header-logo {
  width: 163px;
  height: 35px;
}

.header-logo img {
  margin-top: -20px;
  margin-left: 60px;
}

.header-navigation-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 60px;
  margin-top: 44px; 
}

.user-menu-header-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  /* outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px; */
}

.form-search {
  border-style: none;
  background-color: transparent;
}

.form-search::placeholder {
  color: var(--basic-black);
  opacity: 0.6;
}

.form-search:hover::placeholder {
  opacity: 0.3;
}

.form-search:focus::placeholder {
  opacity: 1;
}

.button-search {
  display: none;
  text-transform: uppercase;
  background-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: var(--basic-black);
  padding: 15px 17px;
}

.button-search:hover,
.button-search:focus {
  display: inline-block;
  opacity: 1;
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.button-search:active {
  color: var(--basic-white);
  background-color: var(--basic-black);
  opacity: 0.3;
}

.form-search:focus {
  border-bottom-color: var(--basic-black);
  border-width: 2px;
  border-style: solid;
}

.form-search:focus + .button-search {
  display: inline-block;
  opacity: 1;
}

.user-menu-header {
  display: flex;
  justify-content: space-between;
  width: 500px;
}

.main-navigation {
  width: 100%;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-black);
  background-color: transparent;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  width: inherit;
}

.navigation {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.dropdown-menu {
  list-style: none;
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-transform: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* Promo */

ol {
  list-style-type: none;
  padding: 0;
}

.promo-slider {
  background-color: transparent;
}

.slider {
  display: flex;
}

.slide {
  width: 600px;
  /* outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px; */
}

.promo {
  width: 560px;
  /* outline: 5px solid rgba(0, 255, 0, 0.3);
  outline-offset: -5px; */
}

.features {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  margin-bottom: 30px;
}

.description {
  margin-bottom: 60px;
}

.button-detail {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 9px;
  padding-right: 43px;
  padding-bottom: 9px;
  padding-left: 43px;
}

.button-detail:hover,
.button-detail:focus {
  background-color: var(--special-yellow-dark);
}

.button-detail:active {
  color: rgba(0, 0, 0, 0.3);
}

.parameter-name {
  font-family: "Gilroylight", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}
.parameter {
  font-family: "Gilroylight", sans-serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.1em;
}

.promo table {
  width: 444px;
  margin-top: 60px;
}

/* Catalog */

.catalog-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 49px;
}

.catalog-item {
  width: 160px;
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  min-height: 160px;
}

.catalog-item-image {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: var(--special-yellow);
  margin-bottom: 38px;
}

.catalog-item-image:hover,
.catalog-item-image:focus {
  background-color: var(--special-yellow-dark);
}

.catalog-item:active {
  opacity: 0.3;
}

/* Service */

.services-slider {
  background-color: var(--basic-grey-light);
  margin-bottom: 90px;
}

.service-list {
  list-style: none;
  padding: 0;
}

.service-title {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.button-service {
  background-color: transparent;
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 9px;
  padding-right: 25px;
  padding-bottom: 9px;
  padding-left: 24px;
  border: none;
}

.button-service:hover,
.button-service:focus {
  background-color: var(--special-yellow-dark);
}

.button-service:active {
  color: var(--special-yellow);
  background-color: var(--basic-black);
  padding-right: 145px;
}

/* Brands */

.brand-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin-bottom: 90px;
}

/* About us */

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 86px;
}

.index-columns p {
  margin-bottom: 40px;
}

.about-title {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.about {
  width: 560px;
  line-height: 28px;
}

.delivery {
  font-family: "Gilroyextrabold", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 84px;
}

.button-about {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 9px;
  padding-left: 24px;
}

.button-about:hover,
.button-about:focus {
  background-color: var(--special-yellow-dark);
}

.button-about:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Contacts */

.contacts-title {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
}

.contacts {
  width: 560px;
  line-height: 28px;
}

.contacts img {
  margin-bottom: 31px;
}

.button-contact {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 9px;
  padding-right: 40px;
  padding-bottom: 9px;
  padding-left: 40px;
}

.button-contact:hover,
.button-contact:focus {
  background-color: var(--special-yellow-dark);
}

.button-contact:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Popup */

.popup {
  display: none;
}

.button-send {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 9px;
  padding-right: 35px;
  padding-bottom: 9px;
  padding-left: 34px;
}

.button-send:hover,
.button-send:focus {
  background-color: var(--special-yellow-dark);
}

.button-send:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Footer */

.main-footer {
  background-color: var(--basic-dark);
}

.main-footer-row-1 {
  display: flex;
  flex-direction: column;
  margin-top: 46px;
  margin-bottom: 40px;
}

.footer-logo {
  width: 163px;
  height: 35px;
  opacity: 1;
}

.footer-logo:hover,
.footer-logo:focus {
  opacity: 0.6;
}

.footer-logo:active {
  opacity: 0.3;
}

.user-menu-footer {
  display: flex;
  align-self: flex-end;
  outline-offset: -5px;
  outline: 5px solid rgba(0, 255, 255, 0.7);
}

.user-menu-footer a {
  font-family: "Open sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--basic-white);
  opacity: 0.7;
}

.user-menu-footer a:hover,
.user-menu-footer a:focus {
  opacity: 1;
}

.user-menu-footer a:active {
  opacity: 0.3;
}

.main-footer-row-2 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 67px;
}

.main-footer-row-2 p,
.main-footer-row-2 a {
  color: var(--basic-white);
  margin: 0;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: -20px;
}

.footer-navigation li {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 36px;
}

.footer-navigation li:nth-child(3) {
  margin-right: 0;
}

.footer-navigation a {
  color: var(--basic-white);
}

.footer-navigation a:hover,
.footer-navigation a:focus {
  opacity: 0.6;
}

.footer-navigation a:active {
  opacity: 0.3;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.footer-contacts p {
  margin: 0;
}

.main-footer-row-3 {
  display: flex;
  justify-content: space-between;
}

.footer-social ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 136px;
}

.main-footer-row-3::before {
  content: "";
  display: inline-block;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

/* Monopod */

.page-title {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
}

.page-catalog {
  display: grid;
  grid-template-columns: 328px 1fr;
  align-content: start;
}

.page-navigation {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  margin-bottom: 50px;
  margin-left: 60px;
}

.page-title {
  margin: 0;
  margin-top: 44px;
  margin-bottom: 30px;
}

/* Breadcrumbs */

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs li {
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black);
  opacity: 0.3;
  margin-right: 40px;
}

.breadcrumbs li:hover,
.breadcrumbs li:focus {
  opacity: 0.6;
}

.breadcrumbs li:active {
  opacity: 0.1;
}

/* Filters */

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 5;
  background-color: var(--basic-grey-light);
}

.filter-wrap {
  margin-left: 60px;
  margin-right: 68px;
}

.filter-title {
  display: block;
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  margin-left: 60px;
  background-color: #dcdcdc;
}

.filters {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.filter legend {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter ul {
  list-style: none;
  font-size: 14px;
  line-height: 19px;
  padding: 0;
}

/* Sorting */

.sorting {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  display: flex;
  align-items: baseline;
  background-color: var(--basic-grey-light);
}

.sorting-title {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: 0;
  margin-left: 72px;
  margin-right: 74px;
}

.sorting ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin-right: 30px;
}

.sorting li {
  margin-right: 30px;
}

.sorting a {
  font-size: 14px;
  line-height: 19px;
  opacity: 0.3;
}

.sorting a:hover,
.sorting a:focus {
  opacity: 0.6;
}

.sorting a:active {
  opacity: 1;
}

.button-select {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: transparent;
  padding-top: 7px;
  padding-right: 38px;
  padding-bottom: 7px;
  padding-left: 37px;
  border: 0;
}

.button-select:hover,
.button-select:focus {
  background-color: var(--special-yellow-dark);
}

.button-select:active {
  color: rgba(0, 0, 0, 0.3);
}

/* -- Catalog -- */

.catalog {
  grid-column: 2 / -1;
  grid-row: 3 / 4;
  margin-left: 72px;
}

.catalog-items {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
  list-style: none;
}

.catalog-element {
  width: 360px;
  margin-right: 40px;
  margin-bottom: 48px;
}

.catalog-element:nth-child(2n) {
  margin-right: 0;
}

.catalog-element-title {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 30px;
}

.catalog-element h3 {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  margin: 0;
}

.catalog-element p {
  font-family: "Gilroylight", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: right;
  margin: 0;
}

.button-cart {
  font-family: "Gilroyextrabold", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-right: 38px;
  padding-bottom: 8px;
  padding-left: 38px;
  background-color: transparent;
  border: none;
}

.button-cart:hover,
.button-cart:focus {
  background-color: var(--special-yellow-dark);
}

.button-cart:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-compare {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.button-compare:hover,
.button-compare:focus {
  opacity: 1;
}

.button-compare:active {
  opacity: 0.2;
}

/* Pagination */

.pagination-list {
  grid-column: 2 / -1;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
}

.pagination-list ul {
  list-style: none;
  padding: 0;
}

.pagination-list li {
  margin-right: 30px;
}
